@media (min-width: 0px) {
  .section-3 {
    .section-3__text-1 {
      margin-top: 72px;
      color: rgba(16, 14, 14, 1);
      font-family: "Roboto", sans-serif;
      font-size: 24px;
      font-weight: 700;
      line-height: 28.19px;
      text-align: left;
      margin-bottom: 22px;
    }
    .section-3__text-2 {
      color: rgba(88, 86, 86, 1);
      font-family: "Roboto", sans-serif;
      font-size: 16px;
      font-weight: 400;
      line-height: 19.09px;
      text-align: left;
      margin-bottom: 20px;
    }
    .section-3__text-3 {
      color: rgba(88, 86, 86, 1);
      font-family: "Roboto", sans-serif;
      font-size: 16px;
      font-weight: 400;
      line-height: 19.09px;
      text-align: left;
      margin-bottom: 32px;
    }
  }
}


@media (min-width: 768px) {
    .section-3 {
      .section-3__text-1 {
        margin-top: 72px;
        color: rgba(16, 14, 14, 1);
        font-family: "Roboto", sans-serif;
        font-size: 32px;
        font-weight: 700;
        line-height: 38.19px;
        text-align: left;
        margin-bottom: 22px;
      }
      .section-3__text-2 {
        color: rgba(88, 86, 86, 1);
        font-family: "Roboto", sans-serif;
        font-size: 16px;
        font-weight: 400;
        line-height: 19.09px;
        text-align: left;
        margin-bottom: 20px;
      }
      .section-3__text-3 {
        color: rgba(88, 86, 86, 1);
        font-family: "Roboto", sans-serif;
        font-size: 16px;
        font-weight: 400;
        line-height: 19.09px;
        text-align: left;
        margin-bottom: 32px;
      }
    }
  }